@font-face {
  font-family: orbitron;
  src: url('./fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: oxanium;
  src: url('./fonts/Oxanium-VariableFont_wght.ttf');
}

h1, h2, h3, h4, h5, h6, li {
  font-family: orbitron;
}

p {
  font-family: oxanium;
}

i{
  color: var(--neonBlue);
}

:root {
  --neonBlue: #6AA4E8;
  --flourscentBlue: #C8EEFF;
  --jetBlack: #000000;
  --carbonBlue: #1B1926;
  --greyishBlack: #0F0F12;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #0F0F12;
  color: white;
}

button {
  width: 18rem;
  color: white;
  background-color: var(--jetBlack);
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.icon {
  width: 10%;
  height: 100%;
  scale: 1/1;
}

.neon-border {
  border: 2px solid var(--neonBlue);
  margin: 8px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon-border * {
  margin: 10px 5px;
}

/*? Media screen config */

@media screen and (max-width: 576px) {
  /* XS */
  #logo {
    scale: 0.15;
  }

  .grid {
    flex-direction: column;
  }

  .grid div {
    width: 100%;
  }

  .container {
    padding: 0 0.8rem;
  }

  .navbar ul {
    display: none;
  }

  .community {
    flex-direction: column;
  }
  footer p {
    width: 80%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* SM */
  #logo {
    scale: 0.15;
  }

  .grid {
    flex-direction: column;
  }

  .grid div {
    width: 100%;
  }

  .container {
    padding: 0 0.8rem;
  }

  .navbar ul {
    display: none;
  }

  .community {
    flex-direction: column;
  }
  footer p {
    width: 80%;
  }
}

@media screen and (max-width: 1382px) {
  /* MD */
  /* Add your CSS code for medium screens here */
  #desktop {
    display: none;
  }

  .grid {
    flex-direction: column;
  }

  .grid div {
    width: 100%;
  }


}

@media screen and (min-width: 768px) and (max-width: 1382px) {
  /* MD */
  #logo {
    scale: 0.35;
  }
  .container {
    padding: 0 10rem;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 58%;
  }

  footer p {
    width: 40%;
  }
}

@media screen and (min-width: 1382px) {
  /* LG */
  #portable {
    display: none;
  }

  .grid div {
    width: 50%;
  }

  #logo {
    scale: 0.45;
  }

  .container {
    padding: 0 10rem;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 58%;
  }

  footer p {
    width: 40%;
  }
}

/*TODO: Make default resizing configurations of fonts here */
/* TODO: Make hover effects */
/*TODO: Make animations*/

.navbar {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar * {
  padding: 10px 35px;
}

.navbar ul * {
  text-decoration: none;
  list-style: none;
  color: white;
}

.empty-space {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 3.5rem;
}

/*? Hero Config */
.banner {
  width: 100%;
  height: 950px;
  object-fit: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: ce;
}

#desktop {
  background-image: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.char {
  position: relative;
  top: 0;
  height: 100%;
}

#shockitty {
  position: absolute;
  left: 0%;
}

#smirkitsune {
  position: absolute;
  right: 0%;
}

#freezetess {
  z-index: 1;
}

#gradient {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 950px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, var(--greyishBlack) 80%);
}

.bundle-1 {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
}

#logo {
  position: relative;
  z-index: 1;
  padding-top: 40%;
}

.heroTop {
  position: relative;
  z-index: 0;
  height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*? Download config*/

.container {
  position: relative;
  z-index: 1;
}

#download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#download button {
  margin: 0px 0.6rem;
}

/*? about config */

.card {
  width: 100%;
  margin-top: 3rem;
  background-color: var(--jetBlack);
  color: var(--flourscentBlue);
  border-bottom: 3px solid var(--neonBlue);
  border-top: 3px solid var(--neonBlue);
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--flourscentBlue);
}

.card-header * {
  margin: 6px;
}

.window-button {
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 25px;
  border: 1px solid var(--neonBlue);
}

.window-button img {
  width: 100%;
  scale: 1.3;
  aspect-ratio: 1/1;
}

/*? Grid content config */
/*TODO: Make the grid responsive */
.content {
  gap: 3rem;
  padding: 1rem;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid div {
  margin: 0 1.8rem;
}

.content p {
  text-align: justify;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*? Community config */
.community-container {
  background-color: var(--carbonBlue);
  padding-bottom: 2rem;
  padding-top: 0.4rem;
  text-align: center;
  width: 100%;
}

.community {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kickstarter img,
#discord img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

#kickstarter p,
#discord p {
  display: none;
}

#kickstarter,
#discord {
  margin: 1rem 1rem;
  min-height: 450px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4.2rem;
  padding-bottom: 2rem;
  font-size: 9pt;
}

footer img {
  width: 70px;
  aspect-ratio: 1/1;
}

footer p {
  text-align: right;
}

#kickstarter span {
  color: white;
  background-image: url(./public/icons/linux.svg);
  aspect-ratio: 1/1;
  height: 100px;
}
